.votes
  %div
    %a{:class => 'up vote', :title => 'up vote'}
      = "#{object.class}:#{object.id}:up"
  %p{:id => "#{object.class}_#{object.id}_votes"}
    = object.votes.size
  %div
    %a{:class => 'down vote', :title => 'down vote'}
      = "#{object.class}:#{object.id}:down"
